---
import IconLink from 'project:components/icon/icon-link.astro'
import './page-aside.css'

const {content} = Astro.props
const {headings} = Astro.props

const storybookUrl = `https://astro-components.netlify.app/?path=/story/${content.storybook}`
---
<nav class="p-quicklinks-navigation" aria-label="Quick Links">
	<ul id='top-links'>
		<li>
			<IconLink type="figma" href="https://www.figma.com/@astrouxds">Figma</IconLink>
		</li>
		<li>
			<IconLink type="storybook" href={storybookUrl}>Storybook</IconLink>
		</li>
		<li>
			<IconLink type="github" href="https://github.com/RocketCommunicationsInc/astro">GitHub</IconLink>
		</li>
	</ul>
	<hr />
	<ul class='section-links'>
		{headings.map((heading: { slug: string; text: string }) => {
			return <li><a class={heading.slug} href={`#${heading.slug}`}>{heading.text}</a></li>
		})}
	</ul>
</nav>
<script>
import './page-aside.client.js'
</script>