---
import IconLink from 'project:components/icon/icon-link.astro'
import './page-aside.css'

const {content} = Astro.props
const {headings} = Astro.props

let h2Headings: object[] = []

headings.map((heading: object) => {
	if (heading['depth'] === 2 ) h2Headings.push(heading)
})

console.log(h2Headings)

const storybookUrl: string = `https://astro-components.netlify.app/?path=/story/${content.storybook}`
---
<nav class="p-quicklinks-navigation" aria-label="Quick Links">
	<ul id='top-links'>
		<li class="-first">
			<IconLink type="figma" href="https://www.figma.com/@astrouxds">Figma</IconLink>
		</li>
		<li>
			<IconLink type="storybook" href={storybookUrl}>Storybook</IconLink>
		</li>
		<li class="-last">
			<IconLink type="github" href="https://github.com/RocketCommunicationsInc/astro">GitHub</IconLink>
		</li>
	</ul>
	<hr />
	<div class='section-links-wrapper'>
		<ul class='section-links'>
			{h2Headings.map((heading: { slug: string; text: string }, index: number) =>

				(
					<li>
						<a class={ index === 0 ? `${heading.slug} -highlighted -first` : index === (h2Headings.length - 1) ? `${heading.slug}  -last` : `${heading.slug}`} href={`#${heading.slug}`}>{heading.text}</a>
					</li>
				)

			)}
		</ul>
	</div>
</nav>
<script>
import './page-aside.client.js'
</script>