---
import { Sanitizer } from 'project:utils/sanitizer.js'
import { For, When } from '@astropub/flow';
import { fetchGoogleCalendarEvents } from './home-community-events.constants.js'
import eventToggleHandler from './home-community-events.eventToggleHandler.js?url'

/** Google Calendar Events. */
const calendarEvents = await fetchGoogleCalendarEvents()

const sanitizer = new Sanitizer()
---
<section class="p-community-events">
	<h4>Upcoming Events</h4>
	<div class="p-community-events-content">
		<For of={calendarEvents}>{calendarEvent => (
			<article class="p-community-event">
				<small class="p-community-event-date">
					<span class="-date">{
						new Date(calendarEvent.start.date || calendarEvent.start.dateTime).toLocaleString('en-US', {
							day: '2-digit',
							month: '2-digit',
							year: 'numeric',
						})
					}</span>
					{
						calendarEvent.start.dateTime
							? (
								<span class="-time">{
									new Date(calendarEvent.start.dateTime).toLocaleString('en-US', {
										hour: 'numeric',
										minute: '2-digit',
										timeZoneName: 'short'
									})
								}</span>
							)
						: calendarEvent.start.date
							? <span class="-time">All Day!</span>
						: <Fragment />
					}
				</small>
				<hgroup class="p-community-event-heading">
					<h5>{calendarEvent.summary}</h5>
					<When test={calendarEvent.location}>
						<small class="p-community-event-subheading">{calendarEvent.location}</small>
					</When>
				</hgroup>
				<span class="p-community-event-actions">
					<button class="community-event-view-details">View Details</button>
				</span>
				{
					calendarEvent.description
						? <span class="p-community-event-details" set:html={sanitizer.sanitizeFor('div', calendarEvent.description)} />
					: <Fragment />
				}
			</article><script src={eventToggleHandler} defer />
		)}</For>
	</div>
</section>
<script>
import './home-community-events.update.js'
</script>