---
import { Sanitizer } from 'project:utils/sanitizer.js'
import { For, When } from '@astropub/flow';
import { fetchGoogleCalendarEvents, getDateRange } from './home-community-events.constants.js'
import eventToggleHandler from './home-community-events.eventToggleHandler.js?url'

/** Google Calendar Events. */
const calendarEvents = await fetchGoogleCalendarEvents()
console.log(calendarEvents)

const sanitizer = new Sanitizer()

---
<section class="p-community-events">
	<h4>Upcoming Events</h4>
	<div class="p-community-events-content">
		<For of={calendarEvents}>{calendarEvent => (
			<article class="p-community-event">
				<hgroup class="p-community-event-heading">
					<h5>{calendarEvent.summary}</h5>
				</hgroup>
				<span class="p-community-event-info">
					<small class="p-community-event-date">
						<span class="-date">{
							calendarEvent.start.date
								? getDateRange(calendarEvent.start.date, calendarEvent.end.date).dateRange
							: new Date(calendarEvent.start.dateTime).toLocaleString('en-US', {
								day: '2-digit',
								month: '2-digit',
								year: 'numeric',
								timeZone: 'PST'
							})
						}</span>
						{
							calendarEvent.start.dateTime
								? (
									<span class="-time">{
										new Date(calendarEvent.start.dateTime).toLocaleString('en-US', {
											hour: 'numeric',
											minute: '2-digit',
											timeZoneName: 'short'
										})
									}</span>
								)
							: getDateRange(calendarEvent.start.date, calendarEvent.end.date).singleDay
								? <span class="-time">All Day!</span>
							: <Fragment />
						}
					</small>
					<When test={calendarEvent.location}>
						<span class='-second-col'>
							<span class="p-community-event-subheading">{calendarEvent.location}</span>
						</span>
					</When>
				</span>
				<span class="p-community-event-actions">
					<button>View Details</button>
				</span>
				{
					calendarEvent.description
						? <span class="p-community-event-details" set:html={sanitizer.sanitizeFor('div', calendarEvent.description)} />
					: <Fragment />
				}
			</article><script src={eventToggleHandler} defer />
		)}</For>
	</div>
</section>
<script>
import './home-community-events.update.js'
</script>