---
import type { Props as DocProps } from '@astropub/doc'

import Layout from 'project:layouts/default/default-layout.astro'
import SiteSkipTo from 'project:components/site-skipto/site-skipto.astro'
import FeedbackWidget from 'project:components/feedback-widgets/feedback-widget-sticky/feedback-widget.astro'
import FeedbackWidgetStatic from 'project:components/feedback-widgets/feedback-widget-static/feedback-widget-static.astro'

import './new-docs-layout.css'

export interface Props extends DocProps {
	content: {
		title: string
		subtitle?: string
		url?: string
	}
	file?: string
}

const { content } = Astro.props
const title = content.subtitle ? `${content.title} ${content.subtitle}` : content.title
const tabTitle = content.title
const url = content.url
---
<Layout title={title} tabtitle={tabTitle}>
	<SiteSkipTo slot="top" />

	<main class="page" id="content">
		<slot name="header" />

		<div class="page-toolbar">
			<slot name="toolbar" />
		</div>

		<div class="page-content">
			<div class="page-content-main-col">
				<slot />
				<FeedbackWidgetStatic currentURL={url} />
			</div>

			<aside class="page-content-side-col" id="aside">
				<div class="-content">
					<slot name="aside" />
				</div>
			</aside>
		</div>
	</main>
	<FeedbackWidget currentURL={url} />
</Layout>
<script>
import './new-docs-layout.client'
</script>