---
import DocsLayout from 'project:layouts/new-docs/new-docs-layout.astro'
import { system } from 'project:utils/tokens.js'
import '../shared.css'

const title = 'System Tokens'
const description = 'Tokens representing Astro semantic design decisions.'
---
<DocsLayout content={{ title, description }} file={import.meta.url}>
			<h2 id="background">
				Background Colors
			</h2>
			{
				system('light', 'color', 'background').map((token) => (
					<rux-design-token-preview
						name={token.name}
						value={token.value}
						alias={token.referenceToken}
						description={token.description}
						type="background"
					/>
				))
			}

			<hr />

			<h2 id="text-colors">
				Text Colors
			</h2>
			{
				system('light', 'color', 'text').map((token) => (
					<rux-design-token-preview
						name={token.name}
						value={token.value}
						alias={token.referenceToken}
						description={token.description}
						type="text"
					/>
				))
			}

			<hr />

			<h2 id="border">
				Border Colors
			</h2>
			{
				system('light', 'color', 'border').map((token) => (
					<rux-design-token-preview
						name={token.name}
						value={token.value}
						alias={token.referenceToken}
						description={token.description}
						type="border"
					/>
				))
			}

			<hr />

			<h2 id="status">
				Status Colors
			</h2>
			{
				system('light', 'color', 'status').map((token) => (
					<rux-design-token-preview
						name={token.name}
						value={token.value}
						alias={token.referenceToken}
						description={token.description}
						type="background"
					/>
				))
			}

			<hr />

			<h2 id="classification">
				Classification Colors
			</h2>
			{
				system('light', 'color', 'classification').map((token) => (
					<rux-design-token-preview
						name={token.name}
						value={token.value}
						alias={token.referenceToken}
						description={token.description}
						type="background"
					/>
				))
			}

		 <h2 id="data-viz">
			Data Visualization
		</h2>
		{
			system('light', 'color', 'data-visualization').map((token) => (
				<rux-design-token-preview
					name={token.name}
					value={token.value}
					alias={token.referenceToken}
					description={token.description}
					type="background"
				/>
			))
		}
</DocsLayout>
<script>
	import 'https://cdn.jsdelivr.net/npm/@astrouxds/astro-web-components/dist/astro-web-components/astro-web-components.esm.js'
	import 'https://cdn.jsdelivr.net/npm/@astrouxds/documentation-components@0.0.14/+esm'
</script>