---
import type articles from 'project:data/home-articles.json'
import { For } from '@astropub/flow'
import './home-articles.css'

const { data } = Astro.props as typeof articles
---
<section class="p-articles" aria-label={data.heading.data}>
	<h3 class="-heading">{data.heading.data}</h3>
	<div class="-articles-content">
		<h-slideshow class="p-article-slideshow">
			<For of={data.content.data}>{item => (
				<article class="p-article">
					<img class="-image" src={item.image.data.url} alt={item.image.data.description} width="296" height="222" aria-hidden="true" loading="lazy" />
					<h4 class="-heading">
						<a href={item.action.data.url} target="_blank">{item.heading.data}</a>
					</h4>
					<p class="-content">{item.content.data}</p>
				</article>
			)}</For>
		</h-slideshow>
		<div class="-link-container"><a href={data.mainlink.data.url} class="-link" target="_blank">{data.mainlink.data.description}</a></div>
	</div>
</section>
<script>
import 'project:components/slideshow/slideshow.ts'
</script>