---
import type articles from 'project:data/home-articles.json'
import { For } from '@astropub/flow'
import './home-articles.css'

const { data } = Astro.props as typeof articles
---
<article class="p-articles">
	<h3 class="-heading">{data.heading.data}</h3>
	<div class="-articles-content">
		<h-slideshow class="p-article-slideshow">
			<For of={data.content.data}>{item => (
				<section class="p-article">
					<img class="-image" src={item.image.data.url} alt={item.image.data.description} aria-hidden="true" />
					<h4 class="-heading">
						<a href={item.action.data.url} target="_blank">{item.heading.data}</a>
					</h4>
					<p class="-content">{item.content.data}</p>
				</section>
			)}</For>
		</h-slideshow>
		<a href={data.mainlink.data.url} class="-link" target="_blank">{data.mainlink.data.description}</a>
	</div>
</article>
<script>
import 'project:components/slideshow/slideshow.js'
</script>