---
import type { Compliance } from 'project:data/compliance.d.json.ts'
import { For, When } from '@astropub/flow'
import { markdown } from '@astropub/md'
import { toNumeral, toStatusClassNames, toTierClassNames } from './compliance-utils.ts'
import './compliance.css'

export interface Props {
	title: string
	compliance: Compliance
}

const attrs = Astro.props
---

<a href="#design-compliance" class="h h2"><h2 id="design-compliance">Design Compliance</h2></a>
<section class="p-compliance">
	<p class="beginning-headline">Applications adopted by EGS are required to meet the Design Compliance set forth by
		Astro UXDS. Design Compliance improves operator efficiency, engagement and reduces training time. When
		applications across the Enterprise have a common and consistent user interface Guardians can focus learning the
		mission unique needs rather than learning new interface paradigms.</p>
	<article class="compliancy-headline">
		<a href="#tiered-compliance" class="h h2"><h2 id="tiered-compliance">Tiered Compliance</h2></a>
		<p>
			Astro can be adopted incrementally though the tiered compliance system outlined below. Projects can achieve
			progressively higher levels of compliance with each iterative release. It is important to note that
			adherence to the EGS Design Compliance is only one factor in accomplishing a successful user interface. Be
			sure to employ a user centered design practice like <a
				href="https://www.astrouxds.com/design-process/research/"> Traditional UX </a> or <a
				href="https://www.scaledagileframework.com/lean-ux/">Lean UX </a>. For assistance please contact <a
				href="mailto:support@astrouxds.com?">support@astrouxds.com.</a>
		</p>
		<p class="ending-headline">
			The EGS Design Compliance rules are a living document and version with the principles of <a
				href="https://semver.org/"> Semantic Versioning</a>. Contribution back to Astro and the Tiered
			Compliance model to address issues, propose new rules or contribute additional research or guidance can be
			made through <a href="https://github.com/RocketCommunicationsInc/astro/discussions"> Astro’s GitHub
				page</a>.
		</p>
		<ul class="p-compliance-list">
			<li>
				<span class="p-compliance-tier -t1">Tier 1</span>
				Basic status icons, status colors, really important things for operators to quickly become familiar with
				the application
			</li>
			<li>
				<span class="p-compliance-tier -t2">Tier 2</span>
				Tier 1 + Astro colors to make it look like an Astro application (visual)
			</li>
			<li>
				<span class="p-compliance-tier -t3">Tier 3</span>
				Tier 2 + interaction patterns (behavioral)
			</li>
		</ul>
	</article>
</section>

<hr class="p-compliance-divider" />

<For of={attrs.compliance.contents}>{content => (
	<section class="p-compliance">
		<header class="-header">
			<span class="-numeral">{content.numeral}.0</span>
			<a href={`#${content.name.replace(/ /g,'')}`} class="h h2"><h2 id={`${content.name.replace(/ /g,'')}`} class="-heading">{content.name}</h2></a>
		</header>

		<For of={content.rules!}>{rule => (
			<dl class="-rule">
				<dd class="-numeral">{content.numeral}.1</dd>
				<dd class="-details">{rule.rule}</dd>
			</dl>
		)}</For>

		<For of={content.rulesets!}>{ruleset => (
			<section class="-ruleset">
				<header class="-header">
					<span class="-numeral">{content.numeral}.{ruleset.numeral}.0</span>

					<h3 class="-heading">{ruleset.name}</h3>

					<When test={ruleset.link}>
						<a class="-link" href={ruleset.link}>View {ruleset.name} Page</a>
					</When>
				</header>

				<When test={ruleset.note}>
					<p>
						<strong>Note:</strong> {ruleset.note}
					</p>
				</When>

				<For of={ruleset.rules!}>{rule => (
					<dl class="-rule">
						<dd class="-numeral">{toNumeral(content, ruleset, rule)}</dd>

						<dd class={toTierClassNames(rule)}>Tier {rule.tier}</dd>

						<dt class="-details">
							<span class="-content">{markdown.inline(rule.rule)}</span>

							<When test={(rule.status !== 'current')}>
								<span class={toStatusClassNames(rule)}>{rule.status.replace('-', ' ')}</span>
							</When>
						</dt>
					</dl>
				)}</For>
			</section>
		)}</For>
	</section>
)}</For>