---
import type { Compliance } from 'project:data/compliance.d.json.ts'
import { For, When } from '@astropub/flow'
import { markdown } from '@astropub/md'
import { toNumeral, toStatusClassNames } from './compliance-utils.ts'
import complianceFooter from 'project:data/compliance-footer.json'
import './compliance-aside.css'

export interface Props {
	compliance: Compliance
}

const { props, url } = Astro as { props: Props, url: URL }
const { contents, version } = props.compliance

/** Compliance contents, filtered by the given url. */
const filteredContents = contents.reduce(
	(filteredContents, content) => {
		const rulesets = content.rulesets?.filter(
			(ruleset: any) => ruleset.link === url.pathname
		)!

		if (rulesets && rulesets.length) {
			filteredContents.push({ ...content, rulesets } as never)
		}

		return filteredContents
	},
	[] as Compliance['contents']
)

const complianceTitleKebabCase = complianceFooter.data.title.data.toLowerCase().replace(' ', '-')
---
<When test={filteredContents.length}>
	<aside class="p-compliance-aside">
		<header class="-header">
			<a href={`#${complianceTitleKebabCase}`} class="h h2">
				<h2 id={complianceTitleKebabCase} class="-heading">{
					complianceFooter.data.title.data
				}</h2>
			</a>
			<p class="-version">(v{
				version
			})</p>
		</header>
		<For of={filteredContents}>{content => (
			<section class="p-compliance">
				<For of={content.rulesets!}>{ruleset => (
					<When test={ruleset.note}><p class="-note"><strong>Note:</strong> {ruleset.note}</p></When>
					<dl class="-ruleset">
						<For of={ruleset.rules!}>{rule => (
							<dt class="-numeral">{
								toNumeral(content, ruleset, rule)
							}</dt>

							<dd class="-details">
								<span class="-content">{
									markdown.inline(rule.rule)
								}</span>

								<When test1={rule.status !== 'current'} test2={rule.status !== 'updated'} test3={rule.status !== 'under-review'}>
									<span class={toStatusClassNames(rule)}>{
										rule.status
									}</span>
								</When>
							</dd>
						)}</For>
					</dl>
				)}</For>
			</section>
		)}</For>

		<footer class="-footer">
			<p>
				<a href={complianceFooter.data.link.data.url}>{
					complianceFooter.data.link.data.alt
				}</a>
			</p>
		</footer>
	</aside>
</When>