---
import type { Props as DocProps } from '@astropub/doc'

import Layout from 'project:layouts/default/default-layout.astro'
import SiteSkipTo from 'project:components/site-skipto/site-skipto.astro'

import './docs-layout.css'
import { getSecondaryNavGroup } from 'project:components/site-navigation/server/currentPath.ts'
import PageHeader from 'project:components/page-header/page-header.js'
import PageAside from 'project:components/page-aside/page-aside.astro'

export interface Props extends DocProps {
	content: {
		title: string
		subtitle?: string
		description?: string
	}
	file?: string
}

const { content } = Astro.props
const title = content.subtitle ? `${content.title} ${content.subtitle}` : content.title
const tabTitle = content.title
---
<Layout title={title} tabtitle={tabTitle}>
	<SiteSkipTo slot="top" />

	<main class="page" id="content">
		<PageHeader slot="header">
			<PageHeader.Heading>
				{content.title}
			</PageHeader.Heading>
			<PageHeader.Subheading>
				{content.description ? content.description : null}
			</PageHeader.Subheading>
			<div class="nav-holder">
			{
				getSecondaryNavGroup(Astro.url.pathname)
					? (
						<PageHeader.Nav file={Astro.props.file} />
					)
				: null
			}
			</div>
		</PageHeader>

		<div class="page-toolbar">
			<slot name="toolbar" />
		</div>

		<div class="page-content">
			<div class="page-content-main-col">
				<slot />
			</div>

			<aside class="page-content-side-col" id="aside">
				<div class="-content">
					<PageAside {...Astro.props} />
				</div>
			</aside>
		</div>
	</main>
</Layout>
<script>
import './docs-layout.client'
</script>