---
import type { Props as DocProps } from '@astropub/doc'

import { getSecondaryNavGroup } from 'project:components/site-navigation/server/currentPath.js'

import Layout from 'project:layouts/default/default-layout.astro'
import SiteSkipTo from 'project:components/site-skipto/site-skipto.astro'
import PageHeader from 'project:components/page-header/page-header.js'
import PageAside from 'project:components/page-aside/page-aside.astro'
import ContributionFooter from 'project:components/contribution-footer/contribution-footer.astro'
import FeedbackWidget from 'project:components/feedback-widgets/feedback-widget-sticky/feedback-widget.astro'
import globalData from 'project:data/global.json'
// import FeedbackWidgetStatic from 'project:components/feedback-widgets/feedback-widget-static/feedback-widget-static.astro'

import './docs-layout.css'

export interface Props extends DocProps {
	content: {
		draft?: boolean
		title: string
		subtitle?: string
		description?: string
		url?: string
		status?: string
	}
	file?: string
}

const { content } = Astro.props
const title = content.subtitle ? `${content.title} ${content.subtitle}` : content.title
const tabTitle = content.title
const description = content.description || false
const url = content.url
const draft = content.draft ? content.draft : false

/* Create github link to source file */

/** RegEx to match a slash (/) at the end ($) of a string. */
const matchTrailingSlash = /\/$/

/** Removes the trailing slash from a string. */
const withoutTrailingSlash = (value: string) => value.replace(matchTrailingSlash, '')

/* grab the source file url and then get the extension */
const fileURL = new URL(Astro.props.file!, 'file:').toString()
const fileExt = fileURL.split('.').at(-1)

/* test the file name against the file URL */
const fileNoExt = fileURL.split('.').at(0)
const fileName = fileNoExt?.split('/').at(-1)
const finalURLSeg = withoutTrailingSlash(Astro.url.pathname).split('/').at(-1)
const gitURL = fileName !== finalURLSeg ? `${Astro.url.pathname}${fileName}.${fileExt}` : `${withoutTrailingSlash(Astro.url.pathname)}.${fileExt}`

/** URL to the current source for this page. */
const githubSourceURL = `${globalData.designSystem.repository}/tree/${globalData.designSystem.repositoryBranch}/src/pages${gitURL}`

---
<Layout title={title} tabtitle={tabTitle} description={description}>
	{draft ? <meta slot="head" name="robots" content="noindex, nofollow" /> : null }
	<SiteSkipTo slot="top" />

	<main class="page" id="content">
		<PageHeader slot="header">
			<PageHeader.Heading status={content.status || null}>
				{content.title}
			</PageHeader.Heading>
			<PageHeader.Subheading>
				{content.description ? content.description : null}
			</PageHeader.Subheading>
			<div class="nav-holder">
			{
				getSecondaryNavGroup(Astro.url.pathname)
					? (
						<PageHeader.Nav file={Astro.props.file} />
					)
				: null
			}
			</div>
		</PageHeader>


		<div class="page-toolbar">
			<slot name="toolbar" />
		</div>

		<div class="page-content">
			<div class="page-content-main-col">
				<slot />
				<ContributionFooter sourceurl={githubSourceURL} />
				<!-- <FeedbackWidgetStatic currentURL={url} /> -->
			</div>

			<aside class="page-content-side-col" id="aside">
				<div class="-content">
					<slot name="aside"><PageAside {...Astro.props} /></slot>
				</div>
			</aside>
		</div>
	</main>
	<FeedbackWidget currentURL={url} />
</Layout>
<script>
import './docs-layout.client'
</script>