---
import DocsLayout from 'project:layouts/docs/docs-layout.astro'
import { component, lookupProperty } from 'project:utils/tokens.js'
import '../shared.css'
import { RuxDesignTokenPreview } from '@astrouxds/documentation-components'

const title = 'Component Tokens'
const description = 'Component specific tokens to be used only when rebuilding components.'
---
<DocsLayout content={{ title, description }} file={import.meta.url}>
	<h2 id="button">
		Button
	</h2>
	{
		component('dark', 'button').map((token) => (
			<RuxDesignTokenPreview
    client:load
				name={token.name}
				value={token.value}
				alias={token.referenceToken}
				description={token.description}
				type={lookupProperty(token.category, token.property)}
			/>
		))
	}

	<hr />

	<h2 id="card">
		Card
	</h2>
	{
		component('dark', 'card').map((token) => (
			<RuxDesignTokenPreview
    client:load
				name={token.name}
				value={token.value}
				alias={token.referenceToken}
				description={token.description}
				type={lookupProperty(token.category, token.property)}
			/>
		))
	}

	<hr />

	<h2 id="checkbox">
		Checkbox
	</h2>
	{
		component('dark', 'checkbox').map((token) => (
			<RuxDesignTokenPreview
    client:load
				name={token.name}
				value={token.value}
				alias={token.referenceToken}
				description={token.description}
				type={lookupProperty(token.category, token.property)}
			/>
		))
	}

	<hr />

	<h2 id="classification">
		Classification Banner
	</h2>
	{
		component('dark', 'classification-banner').map((token) => (
			<RuxDesignTokenPreview
    client:load
				name={token.name}
				value={token.value}
				alias={token.referenceToken}
				description={token.description}
				type={lookupProperty(token.category, token.property)}
			/>
		))
	}

	<hr />

	<h2 id="clock">
		Clock
	</h2>
	{
		component('dark', 'clock').map((token) => (
			<RuxDesignTokenPreview
    client:load
				name={token.name}
				value={token.value}
				alias={token.referenceToken}
				description={token.description}
				type="background"
			/>
		))
	}

	<hr />

	<h2 id="container">
		Container
	</h2>
	{
		component('dark', 'container').map((token) => (
			<RuxDesignTokenPreview
    client:load
				name={token.name}
				value={token.value}
				alias={token.referenceToken}
				description={token.description}
				type={lookupProperty(token.category, token.property)}
			/>
		))
	}
	<hr />

	<h2 id="gsb">
		Global Status Bar
	</h2>
	{
		component('dark', 'gsb').map((token) => (
			<RuxDesignTokenPreview
    client:load
				name={token.name}
				value={token.value}
				alias={token.referenceToken}
				description={token.description}
				type={lookupProperty(token.category, token.property)}
			/>
		))
	}


	<hr />
	<h2 id="indeterminate">
		Indeterminate Progress
	</h2>
	{
		component('dark', 'indeterminate-progress').map((token) => (
			<RuxDesignTokenPreview
    client:load
				name={token.name}
				value={token.value}
				alias={token.referenceToken}
				description={token.description}
				type={lookupProperty(token.category, token.property)}
			/>
		))
	}

	<hr />

	<h2 id="input">
		Input
	</h2>
	{
		component('dark', 'input').map((token) => (
			<RuxDesignTokenPreview
    client:load
				name={token.name}
				value={token.value}
				alias={token.referenceToken}
				description={token.description}
				type={lookupProperty(token.category, token.property)}
			/>
		))
	}

	<hr />

	<h2 id="link">
		Link
	</h2>
	{
		component('dark', 'link').map((token) => (
			<RuxDesignTokenPreview
    client:load
				name={token.name}
				value={token.value}
				alias={token.referenceToken}
				description={token.description}
				type={lookupProperty(token.category, token.property)}
			/>
		))
	}

	<hr />

	<h2 id="log">
		Log
	</h2>
	{
		component('dark', 'log').map((token) => (
			<RuxDesignTokenPreview
    client:load
				name={token.name}
				value={token.value}
				alias={token.referenceToken}
				description={token.description}
				type={lookupProperty(token.category, token.property)}
			/>
		))
	}

	<hr />

	<h2 id="menu">
		Menu
	</h2>
	{
		component('dark', 'menu').map((token) => (
			<RuxDesignTokenPreview
    client:load
				name={token.name}
				value={token.value}
				alias={token.referenceToken}
				description={token.description}
				type="background"
			/>
		))
	}

	<hr />
	<h2 id="monitoring-icon">
		Monitoring Icon
	</h2>
	{
		component('dark', 'monitoring-icon').map((token) => (
			<RuxDesignTokenPreview
    client:load
				name={token.name}
				value={token.value}
				alias={token.referenceToken}
				description={token.description}
				type="background"
			/>
		))
	}

	<hr />

	<h2 id="notification">
		Notification Banner
	</h2>
	{
		component('dark', 'notification-banner').map((token) => (
			<RuxDesignTokenPreview
    client:load
				name={token.name}
				value={token.value}
				alias={token.referenceToken}
				description={token.description}
				type={lookupProperty(token.category, token.property)}
			/>
		))
	}

	<hr />

	<h2 id="progress">
		Progress
	</h2>
	{
		component('dark', 'progress').map((token) => (
			<RuxDesignTokenPreview
    client:load
				name={token.name}
				value={token.value}
				alias={token.referenceToken}
				description={token.description}
				type={lookupProperty(token.category, token.property)}
			/>
		))
	}

	<hr />

	<h2 id="push-button">
		Push Button
	</h2>
	{
		component('dark', 'push-button').map((token) => (
			<RuxDesignTokenPreview
    client:load
				name={token.name}
				value={token.value}
				alias={token.referenceToken}
				description={token.description}
				type={lookupProperty(token.category, token.property)}
			/>
		))
	}

	<hr />


	<h2 id="radio">
		Radio
	</h2>
	{
		component('dark', 'radio').map((token) => (
			<RuxDesignTokenPreview
    client:load
				name={token.name}
				value={token.value}
				alias={token.referenceToken}
				description={token.description}
				type={lookupProperty(token.category, token.property)}
			/>
		))
	}

	<hr />

	<h2 id="scrollbar">
		Scrollbar
	</h2>
	{
		component('dark', 'scrollbar').map((token) => (
			<RuxDesignTokenPreview
    client:load
				name={token.name}
				value={token.value}
				alias={token.referenceToken}
				description={token.description}
				type={lookupProperty(token.category, token.property)}
			/>
		))
	}

	<hr />

	<h2 id="select">
		Select
	</h2>
	{
		component('dark', 'select').map((token) => (
			<RuxDesignTokenPreview
    client:load
				name={token.name}
				value={token.value}
				alias={token.referenceToken}
				description={token.description}
				type={lookupProperty(token.category, token.property)}
			/>
		))
	}

	<hr />

	<h2 id="slider">
		Slider
	</h2>
	{
		component('dark', 'slider').map((token) => (
			<RuxDesignTokenPreview
    client:load
				name={token.name}
				value={token.value}
				alias={token.referenceToken}
				description={token.description}
				type={lookupProperty(token.category, token.property)}
			/>
		))
	}

	<hr />

	<h2 id="status-symbol">Status Symbol</h2>
	{
		component('dark', 'status-symbol').map((token) => (
			<RuxDesignTokenPreview
    client:load
				name={token.name}
				value={token.value}
				alias={token.referenceToken}
				description={token.description}
				type={lookupProperty(token.category, token.property)}
			/>
		))
	}

	<hr />

	<h2 id="switch">
		Switch
	</h2>
	{
		component('dark', 'switch').map((token) => (
			<RuxDesignTokenPreview
    client:load
				name={token.name}
				value={token.value}
				alias={token.referenceToken}
				description={token.description}
				type={lookupProperty(token.category, token.property)}
			/>
		))
	}

	<hr />

	<h2 id="tab">
		Tab
	</h2>
	{
		component('dark', 'tab').map((token) => (
			<RuxDesignTokenPreview
				client:load
				name={token.name}
				value={token.value}
				alias={token.referenceToken}
				description={token.description}
				type={lookupProperty(token.category, token.property)}
			/>
		))
	}
	<hr />

	<h2 id="table">
		Table
	</h2>
	{
		component('dark', 'table').map((token) => (
			<RuxDesignTokenPreview
				client:load
				name={token.name}
				value={token.value}
				alias={token.referenceToken}
				description={token.description}
				type={lookupProperty(token.category, token.property)}
			/>
		))
	}
	<hr />

	<h2 id="tag">
		Tag
	</h2>
	{
		component('dark', 'tag').map((token) => (
			<RuxDesignTokenPreview
    client:load
				name={token.name}
				value={token.value}
				alias={token.referenceToken}
				description={token.description}
				type={lookupProperty(token.category, token.property)}
			/>
		))
	}
	<hr />

	<h2 id="textarea">
		Textarea
	</h2>
	{
		component('dark', 'textarea').map((token) => (
			<RuxDesignTokenPreview
    client:load
				name={token.name}
				value={token.value}
				alias={token.referenceToken}
				description={token.description}
				type={lookupProperty(token.category, token.property)}
			/>
		))
	}
	<hr />

	<h2 id="timeline">
		Timeline
	</h2>
	{
		component('dark', 'timeline').map((token) => (
			<RuxDesignTokenPreview
    client:load
				name={token.name}
				value={token.value}
				alias={token.referenceToken}
				description={token.description}
				type={lookupProperty(token.category, token.property)}
			/>
		))
	}
	<hr />
	<h2 id="tooltip">
		Tooltip
	</h2>
	{
		component('dark', 'tooltip').map((token) => (
			<RuxDesignTokenPreview
    client:load
				name={token.name}
				value={token.value}
				alias={token.referenceToken}
				description={token.description}
				type={lookupProperty(token.category, token.property)}
			/>
		))
	}
</DocsLayout>
<script>
</script>