---
import caseStudiesAccess from 'project:data/case-studies-access.json'
import './case-studies-access.css'

import Control from './case-studies-access-control.astro'
import { For } from '@astropub/flow'

const { data } = caseStudiesAccess
---
<section class="p-case-studies">
	<button type="button" class="open"><slot /></button>
	<dialog class="p-case-studies-dialog">
		<h3 class="p-case-studies-heading">{data.heading.data}</h3>
		<p class="p-case-studies-content">{data.summary.data}</p>
		<form class="p-case-studies-form">
			<div class="p-case-studies-inputs">
				<For of={data.content.data}>{item => (
					<Control type={item.type.data} required={item.required.data} placeholder={item.placeholder.data} autocomplete={item.autocomplete.data} name={item.name.data}>{item.label.data}</Control>
				)}</For>

				<fieldset>
					<legend>{data.useLabel.data}</legend>
					<div class="p-case-studies-use">
						<For of={data.use.data}>{item => (
							<span>
								<input id={item.placeholder.data} type={item.type.data as 'radio'} name={item.name.data} value={item.placeholder.data} checked={item.checked.data} />
								<label for={item.placeholder.data}>{item.label.data}</label>
							</span>
						)}</For>
					</div>
				</fieldset>

				<fieldset>
					<legend>{data.accessLabel.data}</legend>
					<div class="p-case-studies-apps">
						<For of={data.apps.data}>{item => (
							<span>
								<input id={item.placeholder.data} type={item.type.data as 'checkbox'} name={item.name.data} value={item.placeholder.data} />
								<label for={item.placeholder.data}>{item.label.data}</label>
							</span>
						)}</For>
					</div>
				</fieldset>

				<fieldset class="p-case-studies-subscribe">
					<input id="subscribe" type="checkbox" name="subscribe" checked />
					<label for="subscribe">Subscribe to Astro UXDS News and Updates?</label>
				</fieldset>

				<small class="p-case-studies-error" />
			</div>

			<footer class="p-case-studies-footer">
				<button type="reset" class="close p-case-studies-button secondary">Cancel</button>
				<button type="submit" class="p-case-studies-button">
					<div class="submit">Submit</div>
				</button>
			</footer>
		</form>
	</dialog>
</section>

<script>
	import './case-studies-access.js'
</script>