---
import { For } from '@astropub/flow'
import glossaryItems from 'project:data/glossary.json'
import scriptURL from './glossary-groups.js?url'
---

<div class="p-glossary-item-groups">
	<For of={Object.entries(glossaryItems)}>
		{
			([ name, items ]) => (
				<article class="-group">
					<h2 class="-group-heading" id={name}>
						{name}
					</h2>
					<ul class="-glossary-items">
						<For of={Object.entries(items)}>
							{([ id, { name, description, categories, tags } ]) => (
								<li class="glossary-item">
									<div class="glossary-describers">
										{name.includes('[')
										? (
											<a class="glossary-item-name" href={name.replace(')', '').split('(')[1]} class="glossary-item-name">
												<strong>{name.replace(/[[\]]/g, '').split('(')[0]}</strong>
											</a>
										)
										: (
											<strong class="glossary-item-name">{name}</strong>
										)}

										<div class="glossary-item-description">{description}</div>
									</div>

									<div class="glossary-categories" data-categories={categories}>
										<For of={categories}>
											{(cat) => (
												<strong class="glossary-category">
													{cat.replaceAll('_', ' ')}
												</strong>
											)}
										</For>
									</div>
									<metadata
										class="glossary-metadata"
										set:text={tags.join(', ')}
									/>
								</li>
							)}
						</For>
					</ul>
				</article>
			)
		}
	</For>
</div><script defer src={scriptURL}></script>