---
import DocsLayout from 'project:layouts/docs/docs-layout.astro'
import { reference, findByName } from 'project:utils/tokens.js'
import { RuxDesignTokenPreview } from '@astrouxds/documentation-components'

const title = 'Reference'
const description = 'Full catalog of Astro design tokens.'
---
<DocsLayout content={{ title, description }} file={import.meta.url}>
	<h2 id="colors">
		Colors
	</h2>

	{
		reference('dark', 'color').map((token) => (
			<RuxDesignTokenPreview
client:load
				name={token.name}
				value={token.value}
				alias={token.referenceToken}
				description={token.description !== 'Protected' ? token.description : ''}
				type="background"
			/>
		))
	}

	<hr />

	<h2 id="font-size">
		Font Size
	</h2>
	<p>
		Astro UXDS font size tokens define the font size of text styles and elements.
		The design tokens are based on a t-shirt sizing system where the <code>font-size-base</code> token equals 1 rem (16 px by default), and font sizes are either smaller (sm, xs) or larger (lg, xl, 2xl, 3xl, 4xl, 5xl, 6xl) than the base.
		For reference, the P body text style uses the <code>font-size-base</code> token to set the font size.
	</p>
	{
		reference('dark', 'fontSizes').map((token) => (
			<RuxDesignTokenPreview
    client:load
				name={token.name}
				value={token.value}
				alias={token.referenceToken}
				description={token.description}
				type="font-size"
			/>
		))
	}

	<hr />

	<h2 id="font-weight">
		Font Weight
	</h2>
	<div class="note">
		<p>
			The font weight tokens have dropped the 's' on the word weights.
			<br>The old tokens using '--font-weights-light, --font-weights-regular, etc' instead of '--font-weight' are still compatible.
		</p>
	</div>
	<!-- Font weights need to found by name since the fontWeights to fontWeight change.
	Mapping through fontWeight from the tokens JSON will now give you more than just the font-weight tokens. -->
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-weight-light')?.name}
		value={findByName('font-weight-light')?.value}
		alias={findByName('font-weight-light')?.referenceToken}
		description={findByName('font-weight-light')?.description}
		type="font-family"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-weight-regular')?.name}
		value={findByName('font-weight-regular')?.value}
		alias={findByName('font-weight-regular')?.referenceToken}
		description={findByName('font-weight-regular')?.description}
		type="font-family"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-weight-medium')?.name}
		value={findByName('font-weight-medium')?.value}
		alias={findByName('font-weight-medium')?.referenceToken}
		description={findByName('font-weight-medium')?.description}
		type="font-family"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-weight-bold')?.name}
		value={findByName('font-weight-bold')?.value}
		alias={findByName('font-weight-bold')?.referenceToken}
		description={findByName('font-weight-bold')?.description}
		type="font-family"
	/>

	<hr />

	<h2 id="radii">
		Radii
	</h2>
	{
		reference('dark', 'borderRadius').map((token) => (
			<RuxDesignTokenPreview
    client:load
				name={token.name}
				value={token.value}
				alias={token.referenceToken}
				description={token.description}
				type="radius"
			/>
		))
	}

	<hr />

	<h2 id="opacity">
		Opacity
	</h2>
	{
		reference('dark', 'opacity').map((token) => (
			<RuxDesignTokenPreview
    client:load
				name={token.name}
				value={token.value}
				alias={token.referenceToken}
				description={token.description}
				type="opacity"
			/>
		))
	}

	<hr />

	<h2 id="border-width">
		Border Width
	</h2>
	{
		reference('dark', 'borderWidth').map((token) => (
			<RuxDesignTokenPreview
    client:load
				name={token.name}
				value={token.value}
				alias={token.referenceToken}
				description={token.description}
				type="border-width"
			/>
		))
	}

	<hr />

	<h2 id="spacing">
		Spacing
	</h2>
	<p>
		Astro UXDS spacing tokens use increments of four to define all dimensions, padding, and margins for components, containers, grids, and other UI elements.
		The design tokens are based on a 4 px system where 1 token step equals .25 rem, which equals 4 px by default.
		For example, the <code>spacing-4</code> token equals 1 rem (16 px by default).
	</p>
	<p class="note">
		When building components, Astro UXDS uses the border-collapse method for sizing.
		In this method the borders overlap the padding within a component, as opposed to the box model method where the borders are added in addition to the padding.
		So in Astro UXDS, a component with 8 px padding and 2 px border would only have 8 px of spacing.
	</p>
	{
		reference('dark', 'spacing').map((token) => (
			<RuxDesignTokenPreview
    client:load
				name={token.name}
				value={token.value}
				alias={token.referenceToken}
				description={token.description}
				type="spacing"
			/>
		))
	}

	<hr />

	<h2 id="line-height">
		Line Height
	</h2>
	<p>
		Astro UXDS line height tokens use increments of four to define the spacing and line height of text styles and elements.
		The design tokens are based on a t-shirt sizing system where the <code>line-height-base</code> token equals 1.5 rem (24 px by default), and line heights are either smaller (sm, xs, 2xs) or larger (lg, xl, 2xl, 3xl, 4xl) than the base.
		For reference, the P body text style uses the <code>line-height-base</code> token to set the line height.
	</p>
	{
		reference('dark', 'lineHeights').map((token) => (
			<RuxDesignTokenPreview
    client:load
				name={token.name}
				value={token.value}
				alias={token.referenceToken}
				description={token.description}
				type="line-height"
			/>
		))
	}

	<h2 id="typography">
		Typography
	</h2>
	<div class="note">
		<p>
			The following typography tokens are mostly for reference.
			We recommend that developers use our typography utility classes instead
		</p>
	</div>

	<h3>
		Monospace-1
	</h3>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-monospace-1-font-family')?.name}
		value={findByName('font-monospace-1-font-family')?.value}
		alias={findByName('font-monospace-1-font-family')?.referenceToken}
		description={findByName('font-monospace-1-font-family')?.description}
		type="font-family"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-monospace-1-font-size')?.name}
		value={findByName('font-monospace-1-font-size')?.value}
		alias={findByName('font-monospace-1-font-size')?.referenceToken}
		description={findByName('font-monospace-1-font-size')?.description}
		type="font-size"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-monospace-1-font-weight')?.name}
		value={findByName('font-monospace-1-font-weight')?.value}
		alias={findByName('font-monospace-1-font-weight')?.referenceToken}
		description={findByName('font-monospace-1-font-weight')?.description}
		type="font-weight"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-monospace-1-line-height')?.name}
		value={findByName('font-monospace-1-line-height')?.value}
		alias={findByName('font-monospace-1-line-height')?.referenceToken}
		description={findByName('font-monospace-1-line-height')?.description}
		type="line-height"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-monospace-1-letter-spacing')?.name}
		value={findByName('font-monospace-1-letter-spacing')?.value}
		alias={findByName('font-monospace-1-letter-spacing')?.referenceToken}
		description={findByName('font-monospace-1-letter-spacing')?.description}
		type="letter-spacing"
	/>

	<h3>
		Display 1
	</h3>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-display-1-font-family')?.name}
		value={findByName('font-display-1-font-family')?.value}
		alias={findByName('font-display-1-font-family')?.referenceToken}
		description={findByName('font-display-1-font-family')?.description}
		type="font-family"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-display-1-font-size')?.name}
		value={findByName('font-display-1-font-size')?.value}
		alias={findByName('font-display-1-font-size')?.referenceToken}
		description={findByName('font-display-1-font-size')?.description}
		type="font-size"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-display-1-font-weight')?.name}
		value={findByName('font-display-1-font-weight')?.value}
		alias={findByName('font-display-1-font-weight')?.referenceToken}
		description={findByName('font-display-1-font-weight')?.description}
		type="font-weight"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-display-1-line-height')?.name}
		value={findByName('font-display-1-line-height')?.value}
		alias={findByName('font-display-1-line-height')?.referenceToken}
		description={findByName('font-display-1-line-height')?.description}
		type="line-height"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-display-1-letter-spacing')?.name}
		value={findByName('font-display-1-letter-spacing')?.value}
		alias={findByName('font-display-1-letter-spacing')?.referenceToken}
		description={findByName('font-display-1-letter-spacing')?.description}
		type="letter-spacing"
	/>

	<h3>
		Display 2
	</h3>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-display-2-font-family')?.name}
		value={findByName('font-display-2-font-family')?.value}
		alias={findByName('font-display-2-font-family')?.referenceToken}
		description={findByName('font-display-2-font-family')?.description}
		type="font-family"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-display-2-font-size')?.name}
		value={findByName('font-display-2-font-size')?.value}
		alias={findByName('font-display-2-font-size')?.referenceToken}
		description={findByName('font-display-2-font-size')?.description}
		type="font-size"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-display-2-font-weight')?.name}
		value={findByName('font-display-2-font-weight')?.value}
		alias={findByName('font-display-2-font-weight')?.referenceToken}
		description={findByName('font-display-2-font-weight')?.description}
		type="font-weight"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-display-2-line-height')?.name}
		value={findByName('font-display-2-line-height')?.value}
		alias={findByName('font-display-2-line-height')?.referenceToken}
		description={findByName('font-display-2-line-height')?.description}
		type="line-height"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-display-2-letter-spacing')?.name}
		value={findByName('font-display-2-letter-spacing')?.value}
		alias={findByName('font-display-2-letter-spacing')?.referenceToken}
		description={findByName('font-display-2-letter-spacing')?.description}
		type="letter-spacing"
	/>

	<h3>
		Heading 1
	</h3>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-heading-1-font-family')?.name}
		value={findByName('font-heading-1-font-family')?.value}
		alias={findByName('font-heading-1-font-family')?.referenceToken}
		description={findByName('font-heading-1-font-family')?.description}
		type="font-family"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-heading-1-font-size')?.name}
		value={findByName('font-heading-1-font-size')?.value}
		alias={findByName('font-heading-1-font-size')?.referenceToken}
		description={findByName('font-heading-1-font-size')?.description}
		type="font-size"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-heading-1-font-weight')?.name}
		value={findByName('font-heading-1-font-weight')?.value}
		alias={findByName('font-heading-1-font-weight')?.referenceToken}
		description={findByName('font-heading-1-font-weight')?.description}
		type="font-weight"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-heading-1-line-height')?.name}
		value={findByName('font-heading-1-line-height')?.value}
		alias={findByName('font-heading-1-line-height')?.referenceToken}
		description={findByName('font-heading-1-line-height')?.description}
		type="line-height"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-heading-1-letter-spacing')?.name}
		value={findByName('font-heading-1-letter-spacing')?.value}
		alias={findByName('font-heading-1-letter-spacing')?.referenceToken}
		description={findByName('font-heading-1-letter-spacing')?.description}
		type="letter-spacing"
	/>

	<h3>
		Heading 1 Bold
	</h3>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-heading-1-bold-font-family')?.name}
		value={findByName('font-heading-1-bold-font-family')?.value}
		alias={findByName('font-heading-1-bold-font-family')?.referenceToken}
		description={findByName('font-heading-1-bold-font-family')?.description}
		type="font-family"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-heading-1-bold-font-size')?.name}
		value={findByName('font-heading-1-bold-font-size')?.value}
		alias={findByName('font-heading-1-bold-font-size')?.referenceToken}
		description={findByName('font-heading-1-bold-font-size')?.description}
		type="font-size"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-heading-1-bold-font-weight')?.name}
		value={findByName('font-heading-1-bold-font-weight')?.value}
		alias={findByName('font-heading-1-bold-font-weight')?.referenceToken}
		description={findByName('font-heading-1-bold-font-weight')?.description}
		type="font-weight"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-heading-1-bold-line-height')?.name}
		value={findByName('font-heading-1-bold-line-height')?.value}
		alias={findByName('font-heading-1-bold-line-height')?.referenceToken}
		description={findByName('font-heading-1-bold-line-height')?.description}
		type="line-height"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-heading-1-bold-letter-spacing')?.name}
		value={findByName('font-heading-1-bold-letter-spacing')?.value}
		alias={findByName('font-heading-1-bold-letter-spacing')?.referenceToken}
		description={findByName('font-heading-1-bold-letter-spacing')?.description}
		type="letter-spacing"
	/>

	<h3>
		Heading 2
	</h3>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-heading-2-font-family')?.name}
		value={findByName('font-heading-2-font-family')?.value}
		alias={findByName('font-heading-2-font-family')?.referenceToken}
		description={findByName('font-heading-2-font-family')?.description}
		type="font-family"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-heading-2-font-size')?.name}
		value={findByName('font-heading-2-font-size')?.value}
		alias={findByName('font-heading-2-font-size')?.referenceToken}
		description={findByName('font-heading-2-font-size')?.description}
		type="font-size"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-heading-2-font-weight')?.name}
		value={findByName('font-heading-2-font-weight')?.value}
		alias={findByName('font-heading-2-font-weight')?.referenceToken}
		description={findByName('font-heading-2-font-weight')?.description}
		type="font-weight"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-heading-2-line-height')?.name}
		value={findByName('font-heading-2-line-height')?.value}
		alias={findByName('font-heading-2-line-height')?.referenceToken}
		description={findByName('font-heading-2-line-height')?.description}
		type="line-height"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-heading-2-letter-spacing')?.name}
		value={findByName('font-heading-2-letter-spacing')?.value}
		alias={findByName('font-heading-2-letter-spacing')?.referenceToken}
		description={findByName('font-heading-2-letter-spacing')?.description}
		type="letter-spacing"
	/>

	<h3>
		Heading 3
	</h3>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-heading-3-font-family')?.name}
		value={findByName('font-heading-3-font-family')?.value}
		alias={findByName('font-heading-3-font-family')?.referenceToken}
		description={findByName('font-heading-3-font-family')?.description}
		type="font-family"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-heading-3-font-size')?.name}
		value={findByName('font-heading-3-font-size')?.value}
		alias={findByName('font-heading-3-font-size')?.referenceToken}
		description={findByName('font-heading-3-font-size')?.description}
		type="font-size"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-heading-3-font-weight')?.name}
		value={findByName('font-heading-3-font-weight')?.value}
		alias={findByName('font-heading-3-font-weight')?.referenceToken}
		description={findByName('font-heading-3-font-weight')?.description}
		type="font-weight"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-heading-3-line-height')?.name}
		value={findByName('font-heading-3-line-height')?.value}
		alias={findByName('font-heading-3-line-height')?.referenceToken}
		description={findByName('font-heading-3-line-height')?.description}
		type="line-height"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-heading-3-letter-spacing')?.name}
		value={findByName('font-heading-3-letter-spacing')?.value}
		alias={findByName('font-heading-3-letter-spacing')?.referenceToken}
		description={findByName('font-heading-3-letter-spacing')?.description}
		type="letter-spacing"
	/>

	<h3>
		Heading 4
	</h3>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-heading-4-font-family')?.name}
		value={findByName('font-heading-4-font-family')?.value}
		alias={findByName('font-heading-4-font-family')?.referenceToken}
		description={findByName('font-heading-4-font-family')?.description}
		type="font-family"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-heading-4-font-size')?.name}
		value={findByName('font-heading-4-font-size')?.value}
		alias={findByName('font-heading-4-font-size')?.referenceToken}
		description={findByName('font-heading-4-font-size')?.description}
		type="font-size"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-heading-4-font-weight')?.name}
		value={findByName('font-heading-4-font-weight')?.value}
		alias={findByName('font-heading-4-font-weight')?.referenceToken}
		description={findByName('font-heading-4-font-weight')?.description}
		type="font-weight"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-heading-4-line-height')?.name}
		value={findByName('font-heading-4-line-height')?.value}
		alias={findByName('font-heading-4-line-height')?.referenceToken}
		description={findByName('font-heading-4-line-height')?.description}
		type="line-height"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-heading-4-letter-spacing')?.name}
		value={findByName('font-heading-4-letter-spacing')?.value}
		alias={findByName('font-heading-4-letter-spacing')?.referenceToken}
		description={findByName('font-heading-4-letter-spacing')?.description}
		type="letter-spacing"
	/>

	<h3>
		Heading 5
	</h3>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-heading-5-font-family')?.name}
		value={findByName('font-heading-5-font-family')?.value}
		alias={findByName('font-heading-5-font-family')?.referenceToken}
		description={findByName('font-heading-5-font-family')?.description}
		type="font-family"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-heading-5-font-size')?.name}
		value={findByName('font-heading-5-font-size')?.value}
		alias={findByName('font-heading-5-font-size')?.referenceToken}
		description={findByName('font-heading-5-font-size')?.description}
		type="font-size"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-heading-5-font-weight')?.name}
		value={findByName('font-heading-5-font-weight')?.value}
		alias={findByName('font-heading-5-font-weight')?.referenceToken}
		description={findByName('font-heading-5-font-weight')?.description}
		type="font-weight"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-heading-5-line-height')?.name}
		value={findByName('font-heading-5-line-height')?.value}
		alias={findByName('font-heading-5-line-height')?.referenceToken}
		description={findByName('font-heading-5-line-height')?.description}
		type="line-height"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-heading-5-letter-spacing')?.name}
		value={findByName('font-heading-5-letter-spacing')?.value}
		alias={findByName('font-heading-5-letter-spacing')?.referenceToken}
		description={findByName('font-heading-5-letter-spacing')?.description}
		type="letter-spacing"
	/>

	<h3>
		Heading 6
	</h3>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-heading-6-font-family')?.name}
		value={findByName('font-heading-6-font-family')?.value}
		alias={findByName('font-heading-6-font-family')?.referenceToken}
		description={findByName('font-heading-6-font-family')?.description}
		type="font-family"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-heading-6-font-size')?.name}
		value={findByName('font-heading-6-font-size')?.value}
		alias={findByName('font-heading-6-font-size')?.referenceToken}
		description={findByName('font-heading-6-font-size')?.description}
		type="font-size"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-heading-6-font-weight')?.name}
		value={findByName('font-heading-6-font-weight')?.value}
		alias={findByName('font-heading-6-font-weight')?.referenceToken}
		description={findByName('font-heading-6-font-weight')?.description}
		type="font-weight"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-heading-6-line-height')?.name}
		value={findByName('font-heading-6-line-height')?.value}
		alias={findByName('font-heading-6-line-height')?.referenceToken}
		description={findByName('font-heading-6-line-height')?.description}
		type="line-height"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-heading-6-letter-spacing')?.name}
		value={findByName('font-heading-6-letter-spacing')?.value}
		alias={findByName('font-heading-6-letter-spacing')?.referenceToken}
		description={findByName('font-heading-6-letter-spacing')?.description}
		type="letter-spacing"
	/>

	<h3>
		Body 1
	</h3>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-body-1-font-family')?.name}
		value={findByName('font-body-1-font-family')?.value}
		alias={findByName('font-body-1-font-family')?.referenceToken}
		description={findByName('font-body-1-font-family')?.description}
		type="font-family"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-body-1-font-size')?.name}
		value={findByName('font-body-1-font-size')?.value}
		alias={findByName('font-body-1-font-size')?.referenceToken}
		description={findByName('font-body-1-font-size')?.description}
		type="font-size"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-body-1-font-weight')?.name}
		value={findByName('font-body-1-font-weight')?.value}
		alias={findByName('font-body-1-font-weight')?.referenceToken}
		description={findByName('font-body-1-font-weight')?.description}
		type="font-weight"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-body-1-line-height')?.name}
		value={findByName('font-body-1-line-height')?.value}
		alias={findByName('font-body-1-line-height')?.referenceToken}
		description={findByName('font-body-1-line-height')?.description}
		type="line-height"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-body-1-letter-spacing')?.name}
		value={findByName('font-body-1-letter-spacing')?.value}
		alias={findByName('font-body-1-letter-spacing')?.referenceToken}
		description={findByName('font-body-1-letter-spacing')?.description}
		type="letter-spacing"
	/>

	<h3>
		Body 1 Bold
	</h3>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-body-1-bold-font-family')?.name}
		value={findByName('font-body-1-bold-font-family')?.value}
		alias={findByName('font-body-1-bold-font-family')?.referenceToken}
		description={findByName('font-body-1-bold-font-family')?.description}
		type="font-family"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-body-1-bold-font-size')?.name}
		value={findByName('font-body-1-bold-font-size')?.value}
		alias={findByName('font-body-1-bold-font-size')?.referenceToken}
		description={findByName('font-body-1-bold-font-size')?.description}
		type="font-size"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-body-1-bold-font-weight')?.name}
		value={findByName('font-body-1-bold-font-weight')?.value}
		alias={findByName('font-body-1-bold-font-weight')?.referenceToken}
		description={findByName('font-body-1-bold-font-weight')?.description}
		type="font-weight"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-body-1-bold-line-height')?.name}
		value={findByName('font-body-1-bold-line-height')?.value}
		alias={findByName('font-body-1-bold-line-height')?.referenceToken}
		description={findByName('font-body-1-bold-line-height')?.description}
		type="line-height"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-body-1-bold-letter-spacing')?.name}
		value={findByName('font-body-1-bold-letter-spacing')?.value}
		alias={findByName('font-body-1-bold-letter-spacing')?.referenceToken}
		description={findByName('font-body-1-bold-letter-spacing')?.description}
		type="letter-spacing"
	/>

	<h3>
		Body 2
	</h3>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-body-2-font-family')?.name}
		value={findByName('font-body-2-font-family')?.value}
		alias={findByName('font-body-2-font-family')?.referenceToken}
		description={findByName('font-body-2-font-family')?.description}
		type="font-family"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-body-2-font-size')?.name}
		value={findByName('font-body-2-font-size')?.value}
		alias={findByName('font-body-2-font-size')?.referenceToken}
		description={findByName('font-body-2-font-size')?.description}
		type="font-size"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-body-2-font-weight')?.name}
		value={findByName('font-body-2-font-weight')?.value}
		alias={findByName('font-body-2-font-weight')?.referenceToken}
		description={findByName('font-body-2-font-weight')?.description}
		type="font-weight"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-body-2-line-height')?.name}
		value={findByName('font-body-2-line-height')?.value}
		alias={findByName('font-body-2-line-height')?.referenceToken}
		description={findByName('font-body-2-line-height')?.description}
		type="line-height"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-body-2-letter-spacing')?.name}
		value={findByName('font-body-2-letter-spacing')?.value}
		alias={findByName('font-body-2-letter-spacing')?.referenceToken}
		description={findByName('font-body-2-letter-spacing')?.description}
		type="letter-spacing"
	/>

	<h3>
		Body 2 Bold
	</h3>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-body-2-bold-font-family')?.name}
		value={findByName('font-body-2-bold-font-family')?.value}
		alias={findByName('font-body-2-bold-font-family')?.referenceToken}
		description={findByName('font-body-2-bold-font-family')?.description}
		type="font-family"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-body-2-bold-font-size')?.name}
		value={findByName('font-body-2-bold-font-size')?.value}
		alias={findByName('font-body-2-bold-font-size')?.referenceToken}
		description={findByName('font-body-2-bold-font-size')?.description}
		type="font-size"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-body-2-bold-font-weight')?.name}
		value={findByName('font-body-2-bold-font-weight')?.value}
		alias={findByName('font-body-2-bold-font-weight')?.referenceToken}
		description={findByName('font-body-2-bold-font-weight')?.description}
		type="font-weight"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-body-2-bold-line-height')?.name}
		value={findByName('font-body-2-bold-line-height')?.value}
		alias={findByName('font-body-2-bold-line-height')?.referenceToken}
		description={findByName('font-body-2-bold-line-height')?.description}
		type="line-height"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-body-2-bold-letter-spacing')?.name}
		value={findByName('font-body-2-bold-letter-spacing')?.value}
		alias={findByName('font-body-2-bold-letter-spacing')?.referenceToken}
		description={findByName('font-body-2-bold-letter-spacing')?.description}
		type="letter-spacing"
	/>

	<h3>
		Body 3
	</h3>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-body-3-font-family')?.name}
		value={findByName('font-body-3-font-family')?.value}
		alias={findByName('font-body-3-font-family')?.referenceToken}
		description={findByName('font-body-3-font-family')?.description}
		type="font-family"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-body-3-font-size')?.name}
		value={findByName('font-body-3-font-size')?.value}
		alias={findByName('font-body-3-font-size')?.referenceToken}
		description={findByName('font-body-3-font-size')?.description}
		type="font-size"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-body-3-font-weight')?.name}
		value={findByName('font-body-3-font-weight')?.value}
		alias={findByName('font-body-3-font-weight')?.referenceToken}
		description={findByName('font-body-3-font-weight')?.description}
		type="font-weight"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-body-3-line-height')?.name}
		value={findByName('font-body-3-line-height')?.value}
		alias={findByName('font-body-3-line-height')?.referenceToken}
		description={findByName('font-body-3-line-height')?.description}
		type="line-height"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-body-3-letter-spacing')?.name}
		value={findByName('font-body-3-letter-spacing')?.value}
		alias={findByName('font-body-3-letter-spacing')?.referenceToken}
		description={findByName('font-body-3-letter-spacing')?.description}
		type="letter-spacing"
	/>

	<h3>
		Body 3 Bold
	</h3>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-body-3-bold-font-family')?.name}
		value={findByName('font-body-3-bold-font-family')?.value}
		alias={findByName('font-body-3-bold-font-family')?.referenceToken}
		description={findByName('font-body-3-bold-font-family')?.description}
		type="font-family"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-body-3-bold-font-size')?.name}
		value={findByName('font-body-3-bold-font-size')?.value}
		alias={findByName('font-body-3-bold-font-size')?.referenceToken}
		description={findByName('font-body-3-bold-font-size')?.description}
		type="font-size"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-body-3-bold-font-weight')?.name}
		value={findByName('font-body-3-bold-font-weight')?.value}
		alias={findByName('font-body-3-bold-font-weight')?.referenceToken}
		description={findByName('font-body-3-bold-font-weight')?.description}
		type="font-weight"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-body-3-bold-line-height')?.name}
		value={findByName('font-body-3-bold-line-height')?.value}
		alias={findByName('font-body-3-bold-line-height')?.referenceToken}
		description={findByName('font-body-3-bold-line-height')?.description}
		type="line-height"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-body-3-bold-letter-spacing')?.name}
		value={findByName('font-body-3-bold-letter-spacing')?.value}
		alias={findByName('font-body-3-bold-letter-spacing')?.referenceToken}
		description={findByName('font-body-3-bold-letter-spacing')?.description}
		type="letter-spacing"
	/>

	<h3>
		Control Body 1
	</h3>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-control-body-1-font-family')?.name}
		value={findByName('font-control-body-1-font-family')?.value}
		alias={findByName('font-control-body-1-font-family')?.referenceToken}
		description={findByName('font-control-body-1-font-family')?.description}
		type="font-family"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-control-body-1-font-size')?.name}
		value={findByName('font-control-body-1-font-size')?.value}
		alias={findByName('font-control-body-1-font-size')?.referenceToken}
		description={findByName('font-control-body-1-font-size')?.description}
		type="font-size"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-control-body-1-font-weight')?.name}
		value={findByName('font-control-body-1-font-weight')?.value}
		alias={findByName('font-control-body-1-font-weight')?.referenceToken}
		description={findByName('font-control-body-1-font-weight')?.description}
		type="font-weight"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-control-body-1-line-height')?.name}
		value={findByName('font-control-body-1-line-height')?.value}
		alias={findByName('font-control-body-1-line-height')?.referenceToken}
		description={findByName('font-control-body-1-line-height')?.description}
		type="line-height"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-control-body-1-letter-spacing')?.name}
		value={findByName('font-control-body-1-letter-spacing')?.value}
		alias={findByName('font-control-body-1-letter-spacing')?.referenceToken}
		description={findByName('font-control-body-1-letter-spacing')?.description}
		type="letter-spacing"
	/>

	<h3>
		Control Body 1 Bold
	</h3>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-control-body-1-bold-font-family')?.name}
		value={findByName('font-control-body-1-bold-font-family')?.value}
		alias={findByName('font-control-body-1-bold-font-family')?.referenceToken}
		description={findByName('font-control-body-1-bold-font-family')?.description}
		type="font-family"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-control-body-1-bold-font-size')?.name}
		value={findByName('font-control-body-1-bold-font-size')?.value}
		alias={findByName('font-control-body-1-bold-font-size')?.referenceToken}
		description={findByName('font-control-body-1-bold-font-size')?.description}
		type="font-size"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-control-body-1-bold-font-weight')?.name}
		value={findByName('font-control-body-1-bold-font-weight')?.value}
		alias={findByName('font-control-body-1-bold-font-weight')?.referenceToken}
		description={findByName('font-control-body-1-bold-font-weight')?.description}
		type="font-weight"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-control-body-1-bold-line-height')?.name}
		value={findByName('font-control-body-1-bold-line-height')?.value}
		alias={findByName('font-control-body-1-bold-line-height')?.referenceToken}
		description={findByName('font-control-body-1-bold-line-height')?.description}
		type="line-height"
	/>
	<RuxDesignTokenPreview
    client:load
		name={findByName('font-control-body-1-bold-letter-spacing')?.name}
		value={findByName('font-control-body-1-bold-letter-spacing')?.value}
		alias={findByName('font-control-body-1-bold-letter-spacing')?.referenceToken}
		description={findByName('font-control-body-1-bold-letter-spacing')?.description}
		type="letter-spacing"
	/>
</DocsLayout>