---
import type signup from 'project:data/home-signup.json'
import './home-signup.css'

import Control from './home-signup-control.astro'
import Submit from './home-signup-submit.astro'
import { For } from '@astropub/flow'

const { data } = Astro.props as typeof signup
---
<section class="p-signup">
	<h3 class="p-signup-heading">{data.heading.data}</h3>
	<p class="p-signup-content">{data.summary.data}</p>
	<form id="mc-embedded-subscribe-form" class="p-signup-form" action={data.form.data.action.data} method={data.form.data.method.data}>
		<For of={data.content.data}>{item => (
			<Control type={item.type.data} required={item.required.data} placeholder={item.placeholder.data} autocomplete={item.autocomplete.data} name={item.mcname.data}>{item.label.data}</Control>
		)}</For>
		<Submit>Submit</Submit>
		<For of={data.hidden.data}>{item => (
			<input type={item.type.data as null} value={item.value.data} />
		)}</For>
	</form>
	<script src="https://s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
	<script>
		const window = globalThis

		window.fnames = []
		window.ftypes = []

		window.fnames[0] = 'EMAIL'
		window.ftypes[0] = 'email'
		window.fnames[1] = 'FNAME'
		window.ftypes[1] = 'text'
		window.fnames[2] = 'LNAME'
		window.ftypes[2] = 'text'
		window.fnames[3] = 'COMPANY'
		window.ftypes[3] = 'text'

		window.$mcj = window.jQuery.noConflict(true)
</script>
	<!--End mc_embed_signup-->
</section>