---
import './icon-search.css'
import { For } from '@astropub/flow'

import icons from 'project:data/icons.json'

const countOfIcons = Object.keys(icons).reduce(
	(acc, key)=> (
		acc += Object.keys(icons[key]).length
	),
	0
)
---
<form class="p-icon-search">
	<label>
		<input type="text" />
		<span>Search icons ...</span>
	</label>
</form>

<p class="p-icon-results" data-max-size={countOfIcons}>
	Showing all {countOfIcons} icons.
</p>

<div class="p-icon-groups">
	<For of={Object.entries(icons)}>{([ name, icons ]) => (
		<article class="-group">
			<h2 class="-group-heading">{name}</h2>
			<div class="-icons">
				<For of={Object.entries(icons)}>{([ id, { name, html } ]) => (
					<figure class="icon" tabindex="0">
						<svg viewBox="0 0 24 24" aria-label={name} set:html={html} />
						<figcaption>{name}</figcaption>
					</figure>
				)}</For>
			</div>
		</article>
	)}</For>
</div>

<svg class="p-icon-shapes">
	<For of={Object.entries(icons)}>{([ name, icons ]) => (
		<g data-name={name}>
			<For of={Object.entries(icons)}>{([ id, { name, html } ]) => (
				<symbol id={`icon-${id}`} viewBox="0 0 24 24">
					<title>{name}</title>
					<Fragment set:html={html} />
				</symbol>
			)}</For>
		</g>
	)}</For>
</svg>
<script>
import './icon-search.client.js'
</script>