---
import sourceCodeAccess from 'project:data/source-code-access.json'
import './source-code-access.css'

import Control from './source-code-access-control.astro'
import { For } from '@astropub/flow'

const { data } = sourceCodeAccess
---
<span class="p-source-code">
	<dialog class="p-source-code-dialog">
		<h3 class="p-source-code-heading">{data.heading.data}</h3>
		<p class="p-source-code-content">{data.summary.data}</p>
		<form class="p-source-code-form" name="code-access-request" id="code-access-request">
			<div class="p-source-code-inputs">
				<For of={data.content.data}>{item => (
					<Control type={item.type.data} required={item.required.data} placeholder={item.placeholder.data} autocomplete={item.autocomplete.data} name={item.name.data}>{item.label.data}</Control>
				)}</For>

				<fieldset>
					<legend>{data.useLabel.data}</legend>
					<div class="p-source-code-use">
						<For of={data.use.data}>{item => (
							<span>
								<input id={item.placeholder.data} type={item.type.data as 'radio'} name={item.name.data} value={item.placeholder.data} checked={item.checked.data} />
								<label for={item.placeholder.data}>{item.label.data}</label>
							</span>
						)}</For>
					</div>
				</fieldset>

				<fieldset>
					<legend>{data.accessLabel.data}</legend>
					<div class="p-source-code-apps">
						<For of={data.apps.data}>{item => (
							<span>
								<input class="p-source-code-app-checkbox" id={item.placeholder.data} type={item.type.data as 'checkbox'} name={item.name.data} value={item.placeholder.data} />
								<label for={item.placeholder.data}>{item.label.data}</label>
							</span>
						)}</For>
					</div>
					<small class="p-source-code-apps-error" />
				</fieldset>

				<fieldset>
					<div class="p-source-code-use-description">
						<For of={data.useDescription.data}>{item => (
								<textarea class="p-source-code-use-description" id={item.placeholder.data} name={item.name.data} placeholder={item.placeholder.data} rows="10" />
								<label for={item.name.data}>{item.label.data}</label>
						)}</For>
					</div>
				</fieldset>

				<fieldset class="p-source-code-subscribe">
					<input id="subscribe" type="checkbox" name="subscribe" checked />
					<label for="subscribe">Subscribe to Astro UXDS News and Updates?</label>
				</fieldset>

				<small class="p-source-code-error" />
			</div>

			<footer class="p-source-code-footer">
				<button type="reset" class="p-source-code-button p-source-code-dialog-close secondary">Cancel</button>
				<button type="submit" class="p-source-code-button p-source-code-dialog-submit">
					<div class="loading-container">Submit</div>
				</button>
			</footer>
		</form>
	</dialog>

	<div class="p-source-code-success-popover" popover="manual" id="success-popover">
		<div class="p-source-code-success-content">
			<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
				<path d="m9 16.2-3.5-3.5a.984.984 0 0 0-1.4 0 .984.984 0 0 0 0 1.4l4.19 4.19c.39.39 1.02.39 1.41 0L20.3 7.7a.984.984 0 0 0 0-1.4.984.984 0 0 0-1.4 0L9 16.2Z"></path>
			</svg>
			<span class="p-source-code-success-message">Successfully submitted request for source code</span>
		</div>
		<button class="p-source-code-success-close" popovertarget="success-popover">
			<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
				<path d="M18.3 5.71a.996.996 0 0 0-1.41 0L12 10.59 7.11 5.7A.996.996 0 1 0 5.7 7.11L10.59 12 5.7 16.89a.996.996 0 1 0 1.41 1.41L12 13.41l4.89 4.89a.996.996 0 1 0 1.41-1.41L13.41 12l4.89-4.89c.38-.38.38-1.02 0-1.4Z"></path>
			</svg>
		</button>
	</div>
</span>

<script>
	import './source-code-access.js'
</script>