---
import { For } from '@astropub/flow'
import IconGroups from 'project:components/glossary-search/parts/glossary-groups.astro'
import icons from 'project:data/icons.json'
import './glossary-search.css'
---
<p class="p-icon-results" />

<IconGroups />

<svg id="shapes" class="p-icon-shapes">
	<For of={Object.entries(icons)}>{([ name, icons ]) => (
		<g data-name={name}>
			<For of={Object.entries(icons)}>{([ id, { name, path, tags } ]) => (
				<symbol id={`icon-${id}`} viewBox="0 0 24 24">
					<title>{name}</title>
					<path {...path} />
					<metadata set:text={tags.join(', ')} />
				</symbol>
			)}</For>
		</g>
	)}</For>
</svg>
<script>
import './glossary-search.client.js'
</script>