---
import './site-navigation.css'
import SiteSearch from 'project:components/site-search/site-search.astro'

// @ts-ignore
import items from './site-navigation.yml'

const currentPath = Astro.url.pathname

for (let item of items) {
	item.current = 'url' in item && item.url === currentPath

	if (item.items) for (let subitem of item.items) {
		subitem.current = subitem.url === currentPath
		if (subitem.current) {
			subitem.current = true
			item.current = true
		}
	}
}
---
<script>
import "./script/h-navigation-disclosure.js";
import "./script/h-navigation-list.js";
</script>
<nav class="p-navigation" aria-label="site map">
	<a class="p-navigation-heading" href="/">
		<h1 aria-label="Astro">
			<svg class="p-navigation-heading-image" role="none" viewBox="0 0 291 123"><use href="/images/astro.svg#content"></use></svg>
		</h1>
	</a>
	<h-navigation-list>
		<SiteSearch />
		<ul class="p-navigation-list">
			{items.map(item => (
				<li class={item.current ? 'current' : null}>
					{item.url ? (
						<a href={item.url}>{item.label}</a>
					) : (
						<h-navigation-disclosure>
							<span>{item.label}</span>
							<ul>
								{item.items.map(subitem => (
									<li class={subitem.current ? 'current' : null}>
										<a href={subitem.url} aria-current={subitem.current}>{subitem.label}</a>
									</li>
								))}
							</ul>
						</h-navigation-disclosure>
					)}
				</li>
			))}
		</ul>
	</h-navigation-list>
</nav>
