---
import { For, When } from '@astropub/flow'
import SiteSearch from 'project:components/site-search/site-search.astro'
import AuthNav from 'project:components/auth-nav/auth-nav.astro'
import * as navigation from './server/currentPath.ts'
import './site-navigation.css'

const current = navigation.intialize(Astro.url.pathname.replace(/\/?$/, '/'))
---
<script>
import './client/h-navigation-disclosure.js'
import './client/h-navigation-list.js'
</script>
<nav class="p-navigation" aria-label="site map">
	<a class="p-navigation-heading" href="/">
		<h1 aria-label="Astro">
			<svg class="p-navigation-heading-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 290 122" width="134" height="56">
				<title>Astro</title>
				<path class="logo-text" d="M270.562 52.9449C270.562 51.1413 270.385 49.4875 270.038 47.9857L254.632 62.6294V89.309C254.632 90.7068 254.116 91.9191 253.082 92.9458C252.045 93.9725 250.739 94.4871 249.166 94.4871H236.524C235.032 94.4871 233.769 93.9725 232.734 92.9458C231.697 91.9191 231.179 90.6648 231.179 89.1865V56.7499C231.179 55.2704 231.697 54.0174 232.734 52.9894C233.769 51.9639 235.032 51.4494 236.524 51.4494H245.422L264.166 39.5234C261.741 37.9908 258.821 37.1533 255.407 37.1533H231.278C223.676 37.1533 218.9 39.4888 216.706 44.6261H216.33C216.073 44.2154 215.849 43.8641 215.714 43.6699C215.698 43.646 215.679 43.6189 215.659 43.5887C215.073 42.7357 212.824 39.4596 208.843 38.2122C205.88 37.376 204.319 37.1199 201.421 37.1199H196.472C190.55 37.1199 186.198 40.9089 185.214 44.0805H185.073L185.063 37.1199H145.336V0H140.388L129.324 8.03061L129.254 37.1199L80.2708 37.1533C73.1477 37.1533 68.8105 39.3045 66.1616 43.3309C64.5868 45.795 63.8018 49.412 63.8018 54.1782V63.6524C63.8018 69.4057 65.1861 73.557 67.962 76.1028C70.738 78.651 74.7624 79.9251 81.1405 79.9251L82.9334 79.9721H101.762L101.805 89.1865C101.805 90.6648 101.286 91.9191 100.251 92.9458C99.213 93.9725 97.9122 94.4871 96.3373 94.4871L84.1482 94.4389H55.039L55.0814 59.0928V55.2878C55.0814 49.37 54.1282 45.1369 52.2257 42.59C49.5706 39.0583 44.5207 37.2906 37.0699 37.2906H16.417C12.8561 37.2906 9.6777 38.3582 6.6164 40.4945C2.88851 43.206 0.868828 46.7661 0.868828 51.4494V52.2695L11.7298 60.1826H16.5392V56.7709C16.5392 52.5132 19.9655 51.4494 23.4131 51.4494H33.5613C37.3702 51.4494 39.2765 53.3407 39.2765 57.1198L39.3612 65.519L18.033 65.6415C6.60269 65.7243 0.751709 71.1474 0.751709 81.9118V92.2518C0.751709 103.098 6.4781 108.522 17.6605 108.522H33.2174C39.6279 108.522 44.7176 103.636 44.7176 101.945V108.358H101.213C112.394 108.358 118.007 103.098 118.007 92.2518V81.9118C118.007 71.0657 112.294 65.6415 100.864 65.6415H84.3986C82.9895 65.6415 81.7684 65.1306 80.733 64.1014C79.6964 63.0735 79.1781 61.8612 79.1781 60.4646V56.7499C79.1781 55.2704 79.3388 54.2833 80.733 52.9894C82.1285 51.6955 83.0318 51.4494 84.522 51.4494H104.786L113.997 44.7634L114.06 51.4494H129.324V103.443C129.324 114.948 136.96 122.687 143.963 122.687H151.934L158.944 108.085H150.56C149.202 108.085 148.061 106.934 147.087 105.951C146.992 105.854 146.898 105.76 146.806 105.668C145.768 104.64 145.252 102.802 145.252 101.239V51.4494H168.98V108.495L174.446 108.522H179.761L185.063 108.358V63.7315C185.063 60.8555 186.297 56.9231 188.773 54.5889C191.251 52.2534 194.769 51.4494 196.06 51.4494C197.033 51.4494 198.222 51.446 199.415 51.4426C200.615 51.4392 201.819 51.4357 202.81 51.4357C206.067 51.4357 207.364 53.593 207.817 54.3464C207.934 54.5398 207.994 54.6407 208.018 54.5889C208.077 54.4627 212.218 51.4011 215.124 49.2648H215.384C215.214 50.4127 215.126 51.6374 215.126 52.9449V92.0044C215.126 97.1009 216.388 101.125 218.915 104.085C221.441 107.043 225.147 108.522 230.035 108.522H254.164C265.095 108.522 270.562 103.222 270.562 92.6217V52.9449ZM22.4076 79.9251H39.2765V86.5975C39.2765 91.5913 37.4113 93.975 33.7208 94.3016H22.4487C20.8751 94.3016 18.98 93.9725 17.9446 92.9458C16.9092 91.9191 16.3934 90.6648 16.3934 89.1865V85.2244C16.3934 83.7462 16.9092 82.4931 17.9446 81.4652C18.98 80.4385 20.8339 79.9251 22.4076 79.9251Z" />
				<path class="logo-ball" d="M280.41 42.843C285.848 42.843 290.257 38.4836 290.257 33.106C290.257 27.7283 285.848 23.3689 280.41 23.3689C274.971 23.3689 270.562 27.7283 270.562 33.106C270.562 38.4836 274.971 42.843 280.41 42.843Z" fill="var(--Orange700Color)" />
			</svg>
		</h1>
	</a>

	<h-navigation-list>
		<SiteSearch />

		<ul class="p-navigation-list">
			<For of={navigation.items}>{item => (
				<li class={current.has(item) ? 'current' : null}>
					<When test={item.url}>
						<a href={item.url}>{item.label}{item.status ? <sup class={`status-tag status-${item.status}`}>{item.status}</span> : null }</sup>
					</When>

					<When test={!item.url}>
						<h-navigation-disclosure>
							<span>{item.label}</span>

							<ul>
								<For of={item.items}>{subitem => (
									<When test={subitem.label === 'separator'}>
										<hr />

										<li slot="else" class={current.has(subitem) ? 'current' : null}>
											<a href={subitem.url} aria-current={current.has(item)}>{subitem.label}{subitem.status ? <sup class={`status-tag status-${subitem.status}`}>{subitem.status}</sup> : null }</a>
										</li>
									</When>
								)}</For>
							</ul>
						</h-navigation-disclosure>
					</When>
				</li>
			)}</For>
		</ul>

		<div class="p-navigation-auth">
			<AuthNav />
		</div>
	</h-navigation-list>
</nav>