---
import { For, When } from '@astropub/flow'
import SiteSearch from 'project:components/site-search/site-search.astro'
import * as navigation from './server/createCurrentPage'
import './site-navigation.css'

const current = navigation.intialize(Astro.url.pathname.replace(/\/?$/, '/'))
---
<script>
import './client/h-navigation-disclosure.js'
import './client/h-navigation-list.js'
</script>
<nav class="p-navigation" aria-label="site map">
	<a class="p-navigation-heading" href="/">
		<h1 aria-label="Astro">
			<svg class="p-navigation-heading-image" role="none" viewBox="0 0 291 123"><use href="/images/astro.svg#content"></use></svg>
		</h1>
	</a>

	<h-navigation-list>
		<SiteSearch />

		<ul class="p-navigation-list">
			<For of={navigation.items}>{item => (
				<li class={current.has(item) ? 'current' : null}>
					<When {item.url}>
						<a href={item.url}>{item.label}</a>
					</When>

					<When {!item.url}>
						<h-navigation-disclosure>
							<span>{item.label}</span>

							<ul>
								<For of={item.items!}>{subitem => (
									<When {subitem.label === 'separator'}>
										<hr />

										<li slot="else" class={current.has(subitem) ? 'current' : null}>
											<a href={subitem.url} aria-current={current.has(item)}>{subitem.label}</a>
										</li>
									</When>
								)}</For>
							</ul>
						</h-navigation-disclosure>
					</When>
				</li>
			)}</For>
		</ul>
	</h-navigation-list>
</nav>
