---
import DocsLayout from 'project:layouts/docs/docs-layout.astro'
import icons from 'project:data/icons.json'
import { For } from '@astropub/flow'

const title = 'Icon Library'
---
<DocsLayout content={{ title }} file={import.meta.url}>
	<h1>{title}</h1>
	<p>
		The Status Symbol combines color and shape to create a standard and consistent way to indicate the status of a device or feature.
	</p>
	<form action="#" method="get">
		<label>
			<span>Search icons</span>
			<input type="text" />
		</label>
	</form>
	<For of={Object.entries(icons)}>{([ name, icons ]) => (
		<section>
			<h2>{name}</h2>
			<div class="icons">
				<For of={Object.entries(icons)}>{([ id, { name, html } ]) => (
					<figure class="icon" tabindex="0">
						<svg viewBox="0 0 24 24" aria-label={name} set:html={html} />
						<figcaption>{name}</figcaption>
					</figure>
				)}</For>
			</div>
		</section>
	)}</For>
</DocsLayout>
<style is:global>
.icons {
	display: grid;

	@media (width >= 1200px) {
		/* Layout */
		grid-template-columns: repeat(6, 1fr);
	}

	& .icon {
		display: flex;

		/* Layout */
		align-items: center;
		flex-flow: column;
		padding-block: 8--step;
		padding-inline: 3--step;

		/* Typography */
		text-align: center;

		&:is(figure) {
			margin-block: 0;
		}

		&:hover, &:focus-visible {
			background-color: var(--Grey200Color);
		}
	}

	& svg {
		display: block;
		aspect-ratio: 1 / 1;
		width: 50px;
		height: 50px;
	}
}
</style>